ACCESS_TOKEN=""Generate acess token. Na pagina de 'API Setup', dentro do App em WhatsApp"
APP_ID="Encontrado dentro do app - canto superior esquerdo 'App ID: XXXXXXXXXXXXXX'. Também está na url após https://developers.facebook.com/apps/<APP_ID>/....""
APP_SECRET="App settings > Basic > App Secret (Show>Copy)"
PHONE_NUMBER_TO="seu numero comecando com "+55"
PHONE_NUMBER_ID="Identificação do número de telefone que está enviando a mensagem. Encontrado na pagina de API Setup"
VERSION="v22.0 - verificar versao da API. No momento está na v22.0"
VERIFY_TOKEN="token que sera necessario na configuracao do webhook. Pode passar qualquer codigo como 00000. Voce precisará colocar esse mesmo codigo ao configurar o webhook"
GOOGLE_API_KEY="token api google"
TELEGRAM_BOT_TOKEN="token do bot no telegram"
