# --- Rodar com debbug: somente quando rodar local com ngrok
DEV_RUN=False #True

# --- Telegram
TELEGRAM_BOT_TOKEN=

# --- Webhook url
WEBHOOK_URL_DEV=
# python_anywhere
WEBHOOK_URL_python_anywhere=
# koyeb
WEBHOOK_URL=

# --- Google Gemini
GOOGLE_API_KEY=

# --- Google Sheets json
GOOGLE_CREDENTIALS_JSON=

